.main-container {
  margin: 50px;
}

.segment {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: vertical;
}

.flex-column {
  flex: 1 auto;
}

.a-content {
  display: none;
  &.active {
    display: block;
  }
}

.progress-bar {
  height: 20px;
  width: 200px;
  background-color: lightgray;
  border-radius: 5px;
  &_filled {
    width: 35%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: blue;
  }
}
